body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color: steelblue;*/
}

.menu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.page {
  width: 100%;
  background-color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  padding: 0.5em;
  align-content: center;
  width: 100%;
  border-color: steelblue;
  border-top-style: solid;
  border-top-width: 0.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-menu {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  border-color: steelblue;
  /*border-bottom-style: solid;*/
}

.main-menu-item {
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.main-menu a {
  text-decoration: none;
}

.main-menu-item:hover {
  background-color: lightskyblue;
}
